.position{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url("../assets/Computer-setup-with-white-box-headset-two-screens-two-dragon-ball-funko-one-being-goku-ssj-and-the-other-goku-black-ssj-rose-keyboard-mouse-a-4-star-dragon-ball-light-a-web-cam.jpg") no-repeat center / cover;
}