.position{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url("../assets/Guilherme-holding-the-mavic-drone-getting-ready-to-start-the-flight.jpg") no-repeat center / 95vw ;
    border-radius: 20px;
    overflow: hidden;
}